<!-- DOM API и которые позволяют работать со структурой веб-страницы:
$anchorScroll: перемещает полосу прокрутки к определенной ссылке на странице
$document: предоставляет объект jqLite, который содержит стандартный объект window.document
$interval: представляет обертку вокруг функции window.setInterval
$location: предоставляет доступ к URL
$window: предоставляет стандартный javascript-объект window
-->
<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/mystyles.css" />
</head>
<body>
<div ng-controller="DomController">
	<button ng-click="getAlert('Hell to World')">Не нажимай</button>
	<br>
    <a id="angButton">Жми</a>
</div>
 
<!-- <div ng-app="anchorScrollExample" id="top">
		<div ng-controller="ScrollController">
		  <h1>Top of the page</h1>
		  <div style="height:2000px"></div>
		  <button ng-click="gotoTop()">Go to Top!</button>
		</div>
</div> -->
<script src="js/lib/angular.min.js"></script>
<script>
var myApp = angular.module('myApp', []);
myApp.controller("DomController", function($scope, $window, $document){
     
    $scope.getAlert = function (text){
            $window.alert(text);
	};
	// получаем элемент с классом quest
	$document
		.find('a').on("click", function (event) {
        	$window.alert(event.target.innerText);
    });
});

// var app2 = angular.module('anchorScrollExample', []);
//       app2.controller('ScrollController', ['$scope', '$location', '$anchorScroll',
//         function ($scope, $location, $anchorScroll) {
//           $scope.gotoTop = function () {
//             //set the anchor point using an id
//             $location.hash('top');
//             //scroll to the new anchor point
//             $anchorScroll();
//           };
//         }]);
</script>
</body>
</html>