<!--
Кроме директивы ng-click, предназначенной для обработки кликов по элементам,
	имеется еще ряд директив:
ng-blur: определяет поведение для события blur, которое возникает при потере элементом фокуса
ng-focus: определяет поведение для события focus, которое возникает при получении фокуса элементом
ng-change: определяет поведение для события change, которое возникает при изменении элементом состояния, например, при нажатии на элемент input type="checkbox"
ng-submit: определяет поведение для события submit, которое возникает при отправке формы
ng-copy/ng-cut/ng-paste: определяет поведение для событий копирования, вырезки и вставки соответственно
ng-dblclick: та же ng-click, только обрабатывается двойное нажатие
ng-mousedown: для обработки нажатия клавиши мыши
ng-mouseup: для обработки отжатия мыши
ng-mouseenter: для обработки наведения курсора в определенную область
ng-mouseleave: для обработки ухода курсора с определенной области
ng-mousemove: для обработки перемещения курсора мыши
ng-keydown: обработка нажатия клавишы клавиатуры
ng-keypress: обработка нажатия клавишы клавиатуры
ng-keyup: обработка отжатия клавишы клавиатуры
-->

<!doctype html>
<html ng-app='myApp'>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/mystyles.css" />
</head>
<body>
<div  ng-controller="QuestionController">
<div class="quest" ng-class="questColorClass"
ng-mouseenter="changeClass($event)"
ng-mouseleave="changeClass($event)">
<h3>{{question.text}}</h3>
<p>{{question.author}} </p> <p><i>{{question.date}}</i></p>
</div>
<h3>Ответы</h3>
<div class="answers">
<div ng-repeat="answer in question.answers" class="answer">
<div class="vote">
    <a class="vote-up" ng-click="voteUp(answer)"></a>
    <span class="rate">{{answer.rate}}</span>
    <a class="vote-down" ng-click="voteDown(answer)"></a>
</div>
<b>{{answer.text}}</b>
<p>{{answer.author}}</p>
<p><i>{{answer.date}}</i></p>
</div>
</div>
</div>
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
var myApp = angular.module('myApp', []);
</script>
<script src="js/controllers/QuestionController.js"></script>
</body>
</html>